h1 {
  margin-top: 8rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
  margin-inline: 5rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid black;
}

.img img {
  width: 8rem;
  height: 10rem;
}

.product {
  text-align: left;
  width: 30%;
}

.product h2 {
  text-transform: uppercase;
  font-size: larger;
  margin-bottom: 1rem;
}
